* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #f5ebdc;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    "header header header"
    "container container basket"
    "footer footer footer";
}

header {
  grid-area: header;
  display: flex;
}

header .logo {
  width: 20vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: xxx-large;
  font-family: Helvetica;
  font-weight: bold;
}

header nav{
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100vw;
  display: flex;
}

header nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:large;
  cursor: pointer;
  color: black;
}

header nav a:hover {
  font-size: x-large;
  transition: 0.4s;
  color: grey;
}

.container {
  grid-area: container;
  display: flex;
  gap: 1em;
  padding: 1vh 1vw;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container article {
  padding: 1vh 2vw;
  height: 22em;
  width: 20em;
  background-color: lightyellow;
  border-radius: 1em;
}

.container article button {
  margin-top: 10px;
}

.container article img {
  width: 100%;
}

.container article label {
  margin-right: 2%;
}

.container article input {
  margin-right: 8%;
}

.cart {
  background-color: lightgrey;
  border-radius: 1em;
  grid-area: basket;
  display: flex;
  flex-direction: column;
}

.cart h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin: 10px;
  margin-bottom: 20px;
}

.cart table, tr {
  border: 1px solid black;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: small;
}
